{% extends 'base2.html' %}

{% load static %}

{% block content %}

<style>
    #maintwo {
        background: black;
        color: white;
        padding: 10px;
        margin: 20px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }
    #maintwo h2 {
        font: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>

<div id="maintwo">
    <h2><b>About This App</b></h2>
    <p>This is <span style="color: red;"><b>TordiChat</b></span>. TordiChat provides all users the opportunities to chat with their family, friends and loved ones from all round the world. 
    Its a platform that connect people together from all round the world. It provides users with the feartures of writing <span style="color: red;"><b>TEXT</b></span> messages. 
    <span style="color: red;"><b>TordiChat</b></span> provides USERS with the opportunity to create a group chat that can accomodate up to 2000 users connecte to that group chatting at the same time 
    Documentation on how to use <span style="color: red;"><b>TordiChat</b></span> will be out soon. We are currently working on group chats. Personal and encrpted chat will be out soon. We as a team 
    is working very hard to make <span style="color: red;"><b>TordiChat</b></span> better and faster to make our users feel comfortable.
    </p>
</div>

<div id="maintwo">
    <div id="one">
        <h2>How to join group</h2>
    </div>
    <div id="groupname">
        <h4><b><u>Group Name</u></b></h4>
        <p>Users are able to choose the name they want to use for their chat.roup name can be choosen by one user or paticipant, then all other users should use that group name to join the chat. 
            All groups can contained more than 2,000,000 people chattin at once, thats what makes <span style="color: red;"><b>TordiChat</b></span> unique and enjoyable while using <span style="color: red;"><b>TordiChat</b></span>.</p>
    </div>
    <div id="yourname">
        <h4><b><u>User Name</u></b></h4>
        <p>In this box, users are allowed to choose any name they want to use to join the group chat, you can use the name or username you use when registering on <span style="color: red;"><b>TordiChat</b></span> to
        join the group chat. This features makes it fun and unique and makes it oustanding.</p>
    </div>
</div>

{% endblock %}